:root {
  --theme-color: rebeccapurple;
  --site-bg-color: white;
  --divider-color: #bbb;
  --link-color: rebeccapurple;
  --link-primary-bg-color: #ecd9ff;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 170%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--site-bg-color);
}
input,
button {
  font: inherit;
}
a {
  color: var(--link-color);
}
.link--primary {
  background: var(--link-primary-bg-color);
  padding: 4px 12px;
}
.btn {
  padding: 0.5rem 1.1rem;
  border: 2px solid #a377ce;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-image: linear-gradient(0deg, #debdff, white);
}
.btn:focus,
.btn:hover {
  color: white;
  background: var(--theme-color);
}
.blockquote {
  padding: 1rem;
  border-left: 0.5rem solid currentColor;
  background: rgba(0, 0, 0, 0.05);
}

.blockquote__author {
  text-align: right;
}
mark {
  background-color: bisque;
}
hr {
  margin: 2rem 0;
}
.site-footer {
  text-align: center;
}
.decorative-top {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 2px solid var(--divider-color);
  position: relative;
}
.decorative-top:before {
  content: "⚮";
  position: absolute;
  left: calc(50% - 20px);
  top: -20px;
  color: var(--divider-color);
  background: var(--site-bg-color);
  padding: 0 20px;
}
.site-nav {
  display: flex;
  justify-content: space-between;
}
.question {
  font-size: 1.5rem;
}
.activity-box {
  border: 2px solid var(--theme-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.view-enter {
  opacity: 0.01;
  transform: translateY(20px);
}

.view-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
